@use '../../../assets/styles/utils/vars' as *;

.questionSection {

}

.title {
  text-align: center;
  margin-block-end: 1.3rem;
}

.content {
  border: 1px solid $primaryColor;
  border-radius: 8px;
  padding: 20px 30px;
}