@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Days+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prosto+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

body {
  font-family: Comfortaa, sans-serif;
  color: #fff;
  font-size: 1rem;

  &.Montserrat {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Montserrat', sans-serif;
    }
    & button.MontserratBtn {
      color: #FBB348;
    }
  }

  &.Days {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Days One', sans-serif;
    }
    & button.DaysBtn {
      color: #FBB348;
    }
  }

  &.Prosto {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Prosto One', sans-serif;
    }
    & button.ProstoBtn {
      color: #FBB348;
    }
  }

  &.Russo {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Russo One', sans-serif;
    }
    & button.RussoBtn {
      color: #FBB348;
    }
  }

  &.Raleway {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Raleway', sans-serif;
    }
    & button.RalewayBtn {
      color: #FBB348;
    }
  }
}

//h1, h2, h3, h4, h5, h6 {
//  font-family: Tektur, sans-serif;
//}

