@use '@stylesUtils/vars' as *;
@use '@stylesUtils/mixins' as *;


.firstScreenSection {
  position: relative;
  min-height: 100vh;

  @include on-tablet {
    min-height: 80vh;
  }
}

.embla__viewport {
  position: relative;
  width: 100%;

  @include on-tablet {
    width: 60%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to left, $darkBackground 0%, transparent 30%), linear-gradient(to right, $darkBackground 0%, transparent 30%), linear-gradient(to top, $darkBackground 0%, transparent 100%);
    width: 100%;
  }
}

.info {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 20px;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  background-image: radial-gradient(ellipse at center, var(--bg-primary-15) 0%, transparent 60%);


  @include on-tablet {
    text-align: left;
    width: clamp(300px, 30vw, 700px);
    right: 10%;
    top: 50%;
    translate: 0 -50%;
  }

  //@include on-desktop {
  //  width: 40%;
  //}

  h1 {
    font-size: clamp(2rem, 8vw, 3rem);
    font-weight: 700;
    margin-block-end: 28px;
  }
  p {
    //width: 90%;
    margin-inline: auto;
    font-size: 1.2rem;
    margin-block-end: 36px;
    line-height: 1.2;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $primaryColor;
    font-size: 1.5rem;
    line-height: 1;
    transition-duration: 300ms;
    &:hover {
      background-color: transparent;
      letter-spacing: 1.2px;
    }
  }
}

.embla__viewport {
  height: calc(100dvh - 96px);
  overflow: hidden;
}

.embla__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100dvh;


  img {
    position: absolute;
    min-height: 100%;
    width: 100vw;
    object-fit: cover;
  }
}