@use '@stylesUtils/vars' as *;
@use '@stylesUtils/mixins' as *;

.firstScreenSection {
  position: relative;
  min-height: 100vh;

  @include on-tablet {
    min-height: 80vh;
  }
}

.info {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 20px;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);


  @include on-tablet {
    text-align: left;
    left: auto;
    right: 20px;
    width: 50%;
    top: 50%;
    translate: -50% -50%;
    background-image: none;
  }

  //@include on-desktop {
  //  width: 40%;
  //}

  h1 {
    font-size: clamp(2rem, 8vw, 3rem);
    font-weight: 700;
    margin-block-end: 28px;
  }
  p {
    //width: 90%;
    margin-inline: auto;
    font-size: 1.2rem;
    margin-block-end: 36px;
    line-height: 1.2;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $primaryColor;
    font-size: 1.5rem;
    line-height: 1;
    &:hover {
      background-color: transparent;
    }
  }
}

.embla__viewport {
  height: calc(100dvh - 96px);
  overflow: hidden;
}

.embla__container {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100dvh;


  img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}