@use './../../assets/styles/utils/vars' as *;

.artistSlide {
  position: relative;
  display: block;
  width: 100%;
  min-height: 60dvh;
  max-height: 80dvh;
  aspect-ratio: 1 / 2;
  border-radius: 12px;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, $darkBackground 15%, transparent 50%);
  }

  img {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
    border-radius: 12px;
    transition-duration: 300ms;
  }

  h3 {
    width: 90%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 30%;
    translate: -50% 0;
    z-index: 2;
    transition-duration: 300ms;
    font-weight: 500;
    font-size: 2rem;
  }

  &:hover {
    img {
      opacity: 1;
    }

    h3 {
      letter-spacing: 1.5px;
    }
  }
}