@use '../../assets/styles/utils/vars' as *;

.joinFormDialog {
  position: fixed;
  transition-duration: 300ms;
  backdrop-filter: blur(10px);
  padding: 20px;

  h2 {
    font-size: 32px;
    padding: 0
  }
}

.joinFormDialogPaper {
  box-sizing: border-box;
  background-color: green;
  border-radius: 20px;
}

.joinFormBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
