@use '../../assets/styles/utils/mixins' as *;
@use '../../assets/styles/utils/vars' as *;

.userArea {
  border: 1px solid transparent;
}

.userActionBtns {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    flex-direction: row;
    align-items: stretch;
    gap: 8px;
  }
}

.button {
  &:is(.MuiButton-loading) {
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
  }
}