@use '../styles/utils/vars' as *;
@use '../styles/utils/mixins' as *;

.page {
  & .body {
    background-color: $darkBackground;

    &:has(nav.open) {
      overflow: hidden;
    }
  }

  & .container {
    max-width: 1600px;
    margin-inline: auto;
    padding-inline: 20px;
  }

  & .mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & .navLink.active {

    @include on-desktop {
      color: $primaryColor;
    }
  }
}